:root
{
    /* Header - Colour */
/*    --header-bg: white;*/

    /* Navbar - Colour */
/*    --nav-fg: #DCDCDC;*/
/*    --nav-outline: #C0C0C0;*/
/*    --nav-highlight: #A9A9A9;*/
/*    --nav-bg: #2191fb;*/
    --nav-bg: rgb(112,112,112, 0.7);
    --nav-outline: #2191eb;
    --nav-highlight: #3973a3;
    
    --site-bg: rgb(248,258,248);
}

html, body
{
    background-color: var(--site-bg);
}

#header
{
    background-color: var(--header-bg);
}

#main-nav
{
    color: #DDDDDD;
    background-color: var(--nav-bg);
}

#main-nav li:hover
{
    background-color: var(--nav-highlight);
}
