body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

:is(h1, h2, h3, h4, p, ul, ol, li) {
  line-height: normal;
  height: auto;
}

:is(h1, h2, h3) {
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 1.8rem;
  margin: 1rem 0px;
  font-weight: 500;
}

h2 {
  font-size: 1.66rem;
  margin: 1rem 0px;
  font-weight: 450;
}

h3 {
  font-size: 1.4rem;
  margin: 1rem 0px;
  font-weight: 425;
}

ol,
li {
  margin-bottom: 0.5rem;
}

p,
ul li,
ol li {
  margin-bottom: 1.14rem;
  font-size: 1.125rem;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.66rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  main {
    margin: 12px;
    padding: 12px;
  }

  p,
  ul li,
  ol li {
    font-size: 0.875rem;
  }
}
