#main-nav li {
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}

.simple-links a {
  font-style: inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
}

h1 {
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 450;
  line-height: 23px;
  margin-bottom: 8px;
}

h3 {
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 450;
  line-height: 23px;
}

h4 {
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 450;
  line-height: 23px;
}

p {
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 450;
  line-height: 23px;
}

article li,
article ul {
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

article li:before {
  content: '- \0000a0\0000a0';
}

article ul {
  margin-left: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
}

blockquote {
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

pre {
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}
