.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0.75rem 0;
  background-color: var(--site-bg);
}

.logo,
.menu {
  display: flex;
}

.logo {
  width: 3.5rem;
}

.menu {
  background-color: var(--site-bg);
  list-style: none;
  word-break: keep-all;
  white-space: nowrap;
  align-items: center;
}

.menu ul {
  padding-inline-start: 0;
}

.menu li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.menu a {
  text-decoration: none;
  font-size: 20px;
  color: var(--primary);
  padding: 1rem;
}

.menu li > a:hover {
  color: var(--nav-highlight);
}

.menu .active {
  color: var(--nav-highlight);
  font-weight: 500;
}

.nav-collapse {
  border: none;
  padding: 5px;
  background-color: var(--site-bg);
}

.nav-collapse > img {
  width: 36px;
  height: 36px;
}

.menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 10;
}

/* Media Queries */

@media screen and (min-width: 576px) {
  nav {
    max-width: var(--site-max-width-s);
  }
}

@media screen and (min-width: 768px) {
  nav {
    max-width: var(--site-max-width-m);
  }

  .menu li {
    margin: 0;
  }

  .nav-collapse {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  nav {
    max-width: var(--site-max-width-l);
  }
}

@media screen and (min-width: 1200px) {
  nav {
    max-width: var(--site-max-width-xl);
  }
}

@media screen and (max-width: 767px) {
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 18rem;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    z-index: 30;
    padding: 3rem 3rem 3rem 3.875rem;
    margin: 0;
  }
}
