:root {
  /* General - Dimensions */
  --site-width: 80%;
  --site-left: 10%;
  --site-right: 10%;

  /* Header - Dimensions */
  --header-height: 200px;

  /* Navbar - Dimensions */
  --nav-height: 48px;
  --nav-spacing: 42px;

  /* Navbar - Button Style */
  /* center, left, right */
  --nav-style: center;
}

body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

div {
  height: 100%;
}

#header {
  margin: 0;
  overflow: hidden;
  max-height: 400px;
}

.header-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url('/images/csaheader.jpg');
  max-height: 400px;
  padding: 50px 0;
}

.header-logo {
  width: 400px;
  height: auto;
}

#main-nav {
  z-index: 3;
  position: -webkit-sticky;
  position: fixed;
  width: 100%;
}

.article-wrapper {
  margin-left: var(--site-left);
  margin-right: var(--site-right);
}

#banner {
  /* See fonts.css for article font configuration */

  box-sizing: border-box;

  margin-left: var(--site-left);
  margin-right: var(--site-right);

  margin-top: 0px;

  padding: 20px;
  padding-left: 32px;
  padding-right: 32px;

  background-color: #d3d3d3;
}

main {
  max-width: 100%;
  box-sizing: border-box;

  margin-left: var(--site-left);
  margin-right: var(--site-right);

  margin-top: 20px;

  padding: 20px;
  padding-left: 32px;
  padding-right: 32px;

  background-color: #d3d3d3;

  animation: slide-in 500ms ease-in;
}

#main-nav li {
  padding-left: var(--nav-spacing);
  padding-right: var(--nav-spacing);
}

.flex-horizontal {
  flex-direction: row;
}

ul.flex-horizontal {
  display: flex;
  list-style-type: none;
  height: 100%;
  overflow: hidden;
  top: 0;
  justify-content: center;
  animation: fade-in 500ms;
}

ul.flex-horizontal li {
  float: left;
  height: var(--nav-height);
  line-height: var(--nav-height);
  text-align: center;
}

p {
  margin-bottom: 9px;
}

.nav-collapse {
  border: none;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0);
}

.nav-collapse > img {
  width: 36px;
  height: 36px;
}

.img-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

/* CSS for MinutesList */

ul.minutesList {
  display: grid;
  margin: 0px;
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 2em;
}

ul.minutesList > li::before {
  content: '';
}

ul.minutesList > li > p {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #777777;
  margin-bottom: 0.2em;
}
