:root {
  /* General - Dimensions */
  --site-width: 80%;
  --site-left: 10%;
  --site-right: 10%;

  /* Header - Dimensions */
  --header-height: 200px;

  /* Navbar - Dimensions */
  --nav-height: 48px;
  --nav-spacing: 42px;

  /* Navbar - Button Style */
  /* center, left, right */
  --nav-style: center;
}

body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  animation: fade-in 1s;
}

div {
  height: 100%;
}

#header {
  margin: 0;
  overflow: hidden;
  max-height: 400px;
}

#header #header-image {
  width: 100%;
}

#header img {
  position: relative;
  width: 100%;
  max-height: 400px;
}

#main-nav {
  z-index: 3;
  position: -webkit-sticky;
  position: fixed;
  width: 100%;
}

.article-wrapper {
  margin-left: var(--site-left);
  margin-right: var(--site-right);
}

#banner {
  /* See fonts.css for article font configuration */

  box-sizing: border-box;

  margin-left: var(--site-left);
  margin-right: var(--site-right);

  margin-top: 0px;

  padding: 20px;
  padding-left: 32px;
  padding-right: 32px;

  background-color: #d3d3d3;

  height: auto;
}

main {
  max-width: 100%;
  box-sizing: border-box;

  margin-left: var(--site-left);
  margin-right: var(--site-right);

  margin-top: 20px;

  padding: 20px;
  padding-left: 32px;
  padding-right: 32px;

  background-color: #d3d3d3;

  animation: slide-in 1s ease-in;
}

#main-nav li {
  padding-left: var(--nav-spacing);
  padding-right: var(--nav-spacing);
}

.flex-horizontal {
  flex-direction: row;
}

ul.flex-horizontal {
  display: flex;
  list-style-type: none;
  height: 100%;
  overflow: hidden;
  top: 0;
  /*    justify-content: var(--nav-style);*/
  justify-content: center;
}

ul.flex-horizontal li {
  float: left;
  height: var(--nav-height);
  line-height: var(--nav-height);
  text-align: center;
}

p {
  margin-bottom: 9px;
}

.nav-collapse {
  border: none;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0);
}

.nav-collapse > img {
  width: 36px;
  height: 36px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-25%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}