html,
body {
  background-color: var(--site-bg);
}

div {
  height: 100%;
}

ul,
ol {
  margin: 1rem 0;
  padding-inline-start: 40px;
}

main {
  width: 100%;
  box-sizing: border-box;
  margin: 20px auto;
  padding: 0 15px;
}

.flex-horizontal {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.img-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.home-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-logo {
  height: auto;
}

/* Media Queries */

@media screen and (min-width: 0) {
  .home-logo {
    width: 300px;
  }
}

@media screen and (min-width: 576px) {
  main {
    max-width: var(--site-max-width-s);
  }

  .home-logo {
    width: 350px;
  }
}

@media screen and (min-width: 768px) {
  main {
    max-width: var(--site-max-width-m);
  }

  .home-logo {
    width: 400px;
  }
}

@media screen and (min-width: 992px) {
  main {
    max-width: var(--site-max-width-l);
  }
}

@media screen and (min-width: 1200px) {
  main {
    max-width: var(--site-max-width-xl);
  }
}

/* CSS for MinutesList */

ul.minutesList {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 2rem;
}

ul.minutesList > li::before {
  content: '';
}

ul.minutesList > li > p {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #777777;
  margin-bottom: 0.2rem;
}
