@media screen and (max-width: 1200px) {
  /* Navbar */
  #main-nav li {
    padding-left: calc(2vw + 5px);
    padding-right: calc(2vw + 5px);
  }
}

@media screen and (max-width: 1024px) {
  /* Navbar */
  #main-nav li {
    padding-left: calc(2vw + 5px);
    padding-right: calc(2vw + 5px);
  }

  ul.flex-horizontal {
    flex-direction: column;
  }
}

@media screen and (max-width: 931px) {
  /* Navbar */
  #main-nav li {
    padding-left: calc(2vw + 5px);
    padding-right: calc(2vw + 5px);
  }

}

@media screen and (min-width: 1023px) {
  /* Navbar Collapse */
  .nav-collapse {
    display: none;
  }
}
