:root
{
    /* Header - Colour */
/*    --header-bg: white;*/

    /* Navbar - Colour */
/*    --nav-fg: #DCDCDC;*/
/*    --nav-outline: #C0C0C0;*/
/*    --nav-highlight: #A9A9A9;*/
    --nav-bg: #2191fb;
    --nav-outline: #49516f;
    --nav-highlight: #3973a3;
}

#header
{
    background-color: var(--header-bg);
    overflow: hidden;
    margin-left: var(--site-left);
    margin-right: var(--site-right);
    width: var(--site-width);
}

#main-nav
{
    background-color: var(--nav-bg);
    border: 1px solid var(--nav-outline);
}

#main-nav li:hover
{
    background-color: var(--nav-highlight);
}
