:root
{
    /* Header - Colour */
    --header-bg: white;

    /* Navbar - Colour */
    --nav-fg: #DCDCDC;
    --nav-outline: #C0C0C0;
    --nav-highlight: #A9A9A9;
}

#header
{
    background-color: var(--header-bg);
    overflow: hidden;
    margin-left: var(--site-left);
    margin-right: var(--site-right);
    width: var(--site-width);
}

#main-nav
{
    background-color: var(--nav-fg);
    border: 1px solid var(--nav-outline);
}

#main-nav li:hover
{
    background-color: var(--nav-highlight);
}
