:root
{
    /* General - Dimensions */
    --site-width: 80%;
    --site-left: 10%;
    --site-right: 10%;

    /* Header - Dimensions */
    --header-height: 200px;

    /* Navbar - Dimensions */
    --nav-height: 64px;
}

div
{
    height: 100%;
    width: var(--site-width);
}

#header
{
    margin: 0;
    margin-left: var(--site-left);
    margin-right: var(--site-right);
    height: var(--header-height);
    overflow: hidden;
}

#header #header-image
{
    width: 100%;
    max-width: 100%;
}
#header img
{
    margin-top: -110px;
    width: 100%;
    max-width: 100%;
}

#main-nav
{
    margin-left: var(--site-left);
    margin-right: var(--site-right);
    height: var(--nav-height);
    position: -webkit-sticky;
    position: sticky;
}

.article-wrapper
{
    margin-left: var(--site-left);
    margin-right: var(--site-right);
}

.article
{
    /* See fonts.css for article font configuration */

    box-sizing: border-box;

    margin-left: var(--site-left);
    margin-right: var(--site-right);

    margin-top: 20px;

    padding: 20px;

    background-color: #D3D3D3;

    height: auto;
}

#main-nav li
{
    padding-left: 1.2em;
    padding-right: 1.2em;
}

.flex-horizontal
{
    flex-direction: row;
}

ul.flex-horizontal
{
    list-style-type: none;
    height: 100%;
    overflow: hidden;
    top: 0;
}

ul.flex-horizontal li
{
    float: left;
    height: var(--nav-height);
    line-height: var(--nav-height);
    text-align: center;
}
